<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>菜单管理</title>

<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />

<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css" />

</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 系统管理
		<span class="c-gray en">&gt;</span> 菜单列表 
	</nav>
	<div style="padding: 15px;">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> 
				<a class="btn btn-primary radius" data-title="添加菜单" id="addMenuBtn" href="javascript:;">
				<i class="Hui-iconfont">&#xe600;</i> 添加菜单</a>
			</span> 
		</div>
		
		<table class="table table-border table-bordered table-bg table-hover table-sort" id="menuGrid">
	    </table>
    </div>
    
    <div id="addMenuDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content radius">
				<div class="modal-header">
					<h3 class="modal-title" id="menu_title">添加菜单</h3>
					<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
				</div>
				<div class="modal-body">
					<input type="hidden" id="menuId"/>
					<input type="hidden" id="parentId" value="0" />
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">资源类型：</label>
						<div class="formControls col-xs-8 col-sm-9"> 
							<span class="select-box">
								<select class="select" size="1" id="type">
									<option value="menu">仅菜单</option>
									<option value="auth">菜单权限</option>
									<option value="button">按钮权限</option>
								</select>
							</span> 
						</div>
					</div>
					<br/>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">资源名称：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" id="name" class="input-text" autocomplete="off" placeholder="资源名称">
						</div>
					</div>
					<br/>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">权限标识：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" id="code" class="input-text" autocomplete="off" placeholder="权限标识">
						</div>
					</div>
					<br/>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">资源URL：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" id="url" class="input-text" autocomplete="off" placeholder="资源URL">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" id="saveMenuBtn">确定</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script> 
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
	<script type="text/javascript" src="//cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
	<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
	
	<script type="text/javascript" th:src="@{/js/menuConfig.js}"></script>
	

	<script type="text/javascript">
	
		var menu_config;
		
	    $(function () {
	    	menu_config = new menuConfig();
	    });
	</script>
</body>
</html>