<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>角色管理</title>

<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
	<input type="hidden" id="roleId" th:value="${roleId}"/>
	<div style="padding: 15px;">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> 
				<a class="btn btn-primary radius" data-title="保存" id="addRoleMenuBtn" href="javascript:;">保存</a>
			</span> 
		</div>
		<br/>
		<div id="menuTree"></div>
	</div>
	
    <script type="text/javascript" th:src="@{/plugin/lib/jquery/1.9.1/jquery.min.js}"></script> 
    <script type="text/javascript" th:src="@{/plugin/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/plugin/lib/bootstrap-treeview/bootstrap-treeview.js}"></script> 
	<script type="text/javascript" th:src="@{/plugin/lib/bootstrap-treeview/treeview.js}"></script>
	

	<script type="text/javascript">
	
		
	    $(function () {
	    	var id = $("#roleId").val();
	    	$.post('/role/menuTree', {id:id}, function (data) {
		        if(data.success){
		            $('#menuTree').treeview({
		                data : data.data,
		                showIcon: false,
		                highlightSelected:false,
		                showCheckbox: true,
		                onNodeChecked : nodeChecked ,
		                onNodeUnchecked : nodeUnchecked
		            });
		        }
		    });
	    	
	    	$("#addRoleMenuBtn").on('click', function () {
	    		
	            var checkNodes = $('li.node-checked').map(function () {
	                return $('#menuTree').treeview('getNode',[$(this).data('nodeid')]).id;
	            }).get().join(",");
	            
	            $.post('/role/grant',{roleId: id , menuIds: checkNodes},function (data) {
	                if(data.success){
	                	layer.msg('操作成功！', {icon: 1});
	                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); //再执行关闭
	                }else{
	                	layer.msg('操作失败！', {icon: 5});
	                }
	            });
	        });
	    });
	</script>
</body>
</html>